<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="ID">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id_caso}} </td>
    </ng-container>

    <ng-container matColumnDef="Descrizione">
        <th mat-header-cell *matHeaderCellDef> Descrizione </th>
        <td mat-cell *matCellDef="let element"> {{element.descrizione}} </td>
    </ng-container>

    <ng-container matColumnDef="Data Creazione">
        <th mat-header-cell *matHeaderCellDef> Data Creazione </th>
        <td mat-cell *matCellDef="let element"> {{element.dataCreazione | date: 'dd/MM/yyyy HH:mm:ss' }} </td>
    </ng-container>

    <ng-container matColumnDef="Data Chiusura">
        <th mat-header-cell *matHeaderCellDef> Data Chiusura </th>
        <td mat-cell *matCellDef="let element"> {{element.dataChiusura | date: 'dd/MM/yyyy HH:mm:ss' }} </td>
    </ng-container>

    <ng-container matColumnDef="Stato">
        <th mat-header-cell *matHeaderCellDef> Stato </th>
        <td mat-cell *matCellDef="let element"> {{element.stato}} </td>
    </ng-container>

    <ng-container matColumnDef="Azioni">
        <th mat-header-cell *matHeaderCellDef> Azioni </th>
        <td mat-cell *matCellDef="let element">
            <span class="icon-close" style="text-align: center; vertical-align: middle; padding-right: 1rem;" (click)="chiudiCaso(element)" *ngIf="element.stato == 'Aperto'">
                <i class="fas fa-times"></i>
            </span>
            <span class="trash-icon" style="text-align: center; vertical-align: middle;" *ngIf="element.stato == 'Chiuso'">
                <i class="fas fa-rotate-left"></i>
            </span>
            <span class="trash-icon" style="text-align: center; vertical-align: middle;" (click)="eliminaCaso(element)">
                <i class="fas fa-trash-alt"></i>
            </span>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div class="creazione-caso-container">
    <h2>Creazione Nuovo Caso</h2>
    <mat-form-field appearance="fill">
        <mat-label>Descrizione del Caso</mat-label>
        <input matInput [(ngModel)]="nuovoCasoDescrizione">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="creaCaso(nuovoCasoDescrizione)">Crea Nuovo Caso</button>
</div>
