<div class="paragraph py-2">
    <span>Cruscotto di un laboratorio di informatica forense che consente di creare, distruggere e monitorare lo stato di macchine virtuali e dei casi associati ad esse</span>
    <br>
    <br>
    <span class="paragraph py-2 px-4">
        Nel menu laterale, cliccare Casi per visualizzare la lista dei casi.
    </span>
    <br> 
    <br> 
    <span class="paragraph py-2 px-4">
        Nel menu laterale, cliccare Macchine per visualizzare la lista delle macchine.
    </span>
</div>